<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>Simple Google Map</name>
    <description>Add a simple google map to your website // Author : ukyo | web : http://www.altivebir.com.tr</description>
    <uri_segment>simplegooglemap</uri_segment>
    <has_admin>true</has_admin>
    <access_group>editors</access_group>
    <database script="database.xml"></database>
</module>
